
<!DOCTYPE html>
<html lang="fr"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
</head>
<body>

        <% if (locals.flash && locals.flash.error) {%>
        <div class="alert alert-danger" role="alert">
        <%= flash.error %>
    </div>
    <% } %>
        <% if (locals.flash && locals.flash.success) {%>
        <div class="alert alert-success" role="alert">
        <%= flash.success %>
    </div>
    <% } %>